<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="pricemotion" showInDefault="1" sortOrder="200">
            <label>Pricemotion</label>
            <tab>catalog</tab>
            <resource>Pricemotion_Magento2::config</resource>
            <group id="general" showInDefault="1">
                <label>General</label>
                <field id="api_key" showInDefault="1">
                    <label>API key</label>
                    <comment><![CDATA[Find your Pricemotion API key by logging in to <a href="https://www.pricemotion.nl" target="_blank" rel="noopener">Pricemotion</a>.]]></comment>
                    <validate>required-entry validate-data</validate>
                    <config_path>pricemotion/general/api_key</config_path>
                </field>
                <field id="products" showInDefault="1" type="select">
                    <label>Products</label>
                    <comment><![CDATA[In order to keep the price statistics (<i>Lowest Price</i>) updated, Pricemotion normally retrieves data for all products with EANs. If you want to use Pricemotion only for specific products, set this to "Follow only products with price rules".]]></comment>
                    <validate>required-entry validate-select</validate>
                    <source_model>Pricemotion\Magento2\Model\Config\Source\Products</source_model>
                    <config_path>pricemotion/general/products</config_path>
                </field>
            </group>
            <group id="attributes" showInDefault="1">
                <label>Attributes</label>
                <field id="ean_attr" showInDefault="1" type="select">
                    <label>EAN</label>
                    <comment><![CDATA[Pricemotion looks for prices using your product's EAN codes. Make sure you have an EAN attribute defined, and select it here.]]></comment>
                    <validate>required-entry validate-select</validate>
                    <source_model>Pricemotion\Magento2\Model\Config\Source\ProductAttributes</source_model>
                    <config_path>pricemotion/attributes/ean</config_path>
                </field>
                <field id="price_attr" showInDefault="1" type="select">
                    <label>Price</label>
                    <comment><![CDATA[This is the attribute that Pricemotion will update with its recommended price, if enabled, and the attribute that is used to calculate the <i>Price Difference</i>. Usually, you should select <i>Special Price</i> here. If this attribute is empty for a given product, the <i>List Price</i> attribute is used to calculate the <i>Price Difference</i>.]]></comment>
                    <validate>required-entry validate-select</validate>
                    <source_model>Pricemotion\Magento2\Model\Config\Source\ProductAttributes</source_model>
                    <config_path>pricemotion/attributes/price</config_path>
                </field>
                <field id="list_price_attr" showInDefault="1" type="select">
                    <label>List Price</label>
                    <comment><![CDATA[This attribute is used to limit the maximum discount on the list price, if configured in price rules. This product will also be used to calculate the <i>Price Difference</i> if the <i>Price</i> attribute is not set. Usually, you should select <i>Price</i> here.]]></comment>
                    <validate>validate-select</validate>
                    <source_model>Pricemotion\Magento2\Model\Config\Source\ProductAttributes</source_model>
                    <config_path>pricemotion/attributes/list_price</config_path>
                </field>
            </group>
        </section>
    </system>
</config>
