<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="Pricemotion_Pricemotion" showInDefault="1" sortOrder="200">
            <label>Pricemotion</label>
            <tab>catalog</tab>
            <resource>Pricemotion_Pricemotion::config</resource>
            <group id="general" showInDefault="1">
                <label>General</label>
                <field id="api_key" showInDefault="1">
                    <label>API key</label>
                    <comment><![CDATA[Find your Pricemotion API key by logging in to <a href="https://www.pricemotion.nl" target="_blank" rel="noopener">Pricemotion</a>.]]></comment>
                    <validate>required-entry validate-data</validate>
                </field>
            </group>
        </section>
    </system>
</config>
